
td{
      background-color: rgb(177, 107, 15);
}
.a{
      width: 90px;
      height: 60px;
      padding: 1px;
      font-size:x-large;
      font-weight: 400;
      margin:auto;
      background-color: rgb(110, 216, 219);
      color: rgb(10, 10, 10);
 }


body{
margin-left: 500px;
}

 .a:hover {
      background-color:red;
    }


  .c:hover {
      background-color:coral;
    }


    .d:hover {
      background-color:rgb(182, 20, 82);
    }
  
    .e:hover {
      background-color:rgb(252, 255, 80);
    }

#b{
      width: 465px;
      height: 70px;
      background-color: rgb(209, 197, 186);
      direction:inherit;
      font-size:xx-large;
      padding: 5px;
  }
  #b:hover{
        background-color:darksalmon;
  }

  div{
        width: 500px;
        height: 50px;
        /* background-color: rgb(96, 178, 211); */
        color: rgb(158, 18, 65);
        margin-bottom: 20px;
        font-size: 58px;
        font-family:Georgia, 'Times New Roman', Times, serif;
  }

  div:hover{
        background-color:aquamarine;
        height: 60px; ;
  }